html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.leaflet-container {
	height: 100%;
	width: 100%;
	max-width: 100%;
	max-height: 100%;
}

/*
#openFile{
	display: flex;
	align-items: center;
	position: absolute;
	top: 20px;
	right: 20px;
	width: 300px;
	height: 50px;
	background-color: white;
	border-radius: 5px;
	border-color: gray;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	opacity: 0.6;
	text-align: center;
	z-index: 500;
}

#openFile:hover{
	opacity: 0.9;
	cursor: pointer;
}
*/

#idDomain{
	display: block;
	align-items: center;
	position: absolute;
	top: 20px;
	right: 20px;
	width: 300px;
	height: calc(100% - 40px);;
	background-color: white;
	border-radius: 5px;
	border-color: gray;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	opacity: 0.6;
	/*text-align: center;*/
	z-index: 500;
	pointer-events: auto;
	overflow: auto; 
}


#idDomain:hover{
	opacity: 0.9;
	cursor: pointer;
}

#mainContainer{
	position: relative;
	/*width: 100%;*/
	width: 100%;
	/*height: calc(100% - 80px);*/
	height: 100%;
	display: flex;
	pointer-events: auto; 
}


#mapDiv {
	flex: 1;
}

#map {
	width: 100%;
	height: 100%;
	z-index: 0;
	pointer-events: auto; 
}

.leaflet-image-layer {
	max-width: none !important;
	/* Preserve crisp pixels with scaled up images */
	image-rendering: optimizeSpeed;             /* Legal fallback */
	image-rendering: -moz-crisp-edges;          /* Firefox        */
	image-rendering: -o-crisp-edges;            /* Opera          */
	image-rendering: -webkit-optimize-contrast; /* Safari         */
	image-rendering: optimize-contrast;         /* CSS3 Proposed  */
	image-rendering: crisp-edges;               /* CSS4 Proposed  */
	image-rendering: pixelated;                 /* CSS4 Proposed  */
	-ms-interpolation-mode: nearest-neighbor;   /* IE8+           */
}


